/** FUENTES IMPORTADAS **/

 @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oleo+Script:wght@400;700&display=swap');

 /** VARIABLES **/

:root {
    --color-principal: #280046;
    --color-secundario: #A734FF;
    --color-terciario: #F6BFFF;

    --fuente-titulos: "Oleo Script", system-ui;
    --fuente-secundario: "Nunito", serif;
    --border-cards: 19px;
}

 /** RESET **/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
 }

  /** PÁGINA PRINCIPAL **/

.header {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.479);
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
}

.header__list {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    align-items: center;
}

.header__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--fuente-titulos);
    color: black;
    font-size: 20px;
}

.header__item-title {
    color: var(--color-principal);
    text-shadow: 0px 3px 3px #80036f;
    font-weight: 900;
    font-size: 2.5em;
    line-height: .9; 
    transition: .5s;
}

.header__item-title:hover {
    transform: scale(1.1);
    opacity: .9;
}

.header__span {
    color: var(--color-secundario) !important;
    font-weight: 900;

}

.header__item-button {
    display: flex;
    background-color: var(--color-secundario);
    box-shadow: 0px 2px 4px var(--color-principal);
    color: white;
    padding: .7rem;
    width: 184px;
    border-radius: var(--border-cards);
    transition: .5s;
}

.header__item-button:hover {
    transform: scale(1.1);
    background-color: var(--color-secundario);
    border-radius: 40px 30px;
}

.main {
    display: flex;
    flex-direction: column;
}

.main__section {
    display: flex;
    padding-top: 8rem;
    height: 100vh;
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: var(--fuente-titulos);
}

.main__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.main__item {
    transition: .5s;
}

.main__item:hover {
    transform: scale(1.1);
}

.main__redes {
    display: flex;
    position: fixed;
    padding: 4px 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.479);
    gap: 10px;
    bottom: 10px;
}

.main__icon {
    width: 30px;
}

.main__title {
    display: flex;
    flex-direction: column;
    line-height: .9;
    font-size: 2.9rem;
}

.main__text {
    font-size: 1.4rem;
    margin: 0;
    width: 92%;
}

.main__span {
    font-size: 1.2em;
    color: var(--color-secundario);
}

.main__img {
    display: none;
}

.main__buttons {
    display: flex;
    padding-top: 15px;
    justify-content: center;
    gap: 15px;
}

.main__button {
    padding: .9rem;
    border-radius: var(--border-cards);
    color: white;
    background-color: var(--color-secundario);
    transition: .5s;
}

.main__button:hover {
    border-radius: 40px 30px;
    background-color: var(--color-principal);
}

.main__button-border {
    background-color: transparent;
    color: var(--color-principal);
    text-shadow: 1px 1px 1px #eb86dd;
    font-weight: 900;
    border: 2px solid;
    border-color: var(--color-principal);
}

.main__button-border:hover {
    border: none;
    color: white;
}

@media (min-width: 1200px) {

    .main {
        padding-top: 0rem;
    }

    .main__section {
        width: 80%;
        margin: auto;
        text-align: start;
    }

    .main__info {
        width: 60%;
        height: 80%;
        align-items: start;
    }

    .main__img {
        display: block;
        width: 430px;
        height: 430px;
    }

    .main__buttons {
        justify-content: start;
    }

    .main__button {
        padding: .8rem 3rem .8rem;
        font-size: 1.1rem;
    }
}