/** FUENTES IMPORTADAS **/

 @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oleo+Script:wght@400;700&display=swap');

 /** VARIABLES **/

:root {
    --color-principal: #280046;
    --color-secundario: #A734FF;
    --color-terciario: #F6BFFF;

    --fuente-titulos: "Oleo Script", system-ui;
    --fuente-secundario: "Nunito", serif;
    --border-cards: 19px;
}

 /** RESET **/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
 }

  /** PÁGINA PRINCIPAL **/

.header {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.479);
    z-index: 1;
    width: 100%;
}

.header__nav {
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;   
}

.header__list {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    align-items: center;
}

.header__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--fuente-titulos);
    color: black;
    font-size: 20px;
}

.header__item-title {
    color: var(--color-principal);
    text-shadow: 0px 3px 3px #80036f;
    font-weight: 900;
    font-size: 2.5em;
    line-height: .9; 
    transition: .5s;
}

.header__item-title:hover {
    transform: scale(1.1);
    opacity: .9;
}

.header__span {
    color: var(--color-secundario) !important;
    font-weight: 900;

}

.header__item-button {
    display: flex;
    background-color: yellow;
    box-shadow: 0px 2px 4px rgba(224, 192, 10, 0.932);
    color: black;
    padding: .7rem;
    width: 184px;
    border-radius: var(--border-cards);
    transition: .5s;
}

.header__item-button:hover {
    transform: scale(1.1);
    background-color: var(--color-secundario);
    box-shadow: none;
    border-radius: 40px 30px;
}

.main {
    display: flex;
    flex-direction: column;
}

.main__section {
    display: flex;
    padding-top: 8rem;
    height: 100vh;
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: var(--fuente-titulos);
}

.main__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__info--contact {
    display: none;
}

.main__item {
    transition: .5s;
}

.main__item:hover {
    transform: scale(1.1);
}

.main__redes {
    display: flex;
    position: fixed;
    bottom: 1%;
    right: 5%;
    padding: 4px 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.479);
    gap: 10px;
    z-index: 1;
}

.main__icon {
    width: 30px;
}

.main__title {
    display: flex;
    flex-direction: column;
    line-height: .9;
    font-size: 2.9rem;
}

.main__text {
    font-size: 1.4rem;
    margin: 0;
    width: 92%;
}

.main__span {
    font-size: 1.2em;
    color: var(--color-secundario);
}

.main__img {
    display: none;
}

.main__buttons {
    display: flex;
    padding-top: 15px;
    justify-content: center;
    gap: 15px;
}

.main__button {
    padding: .9rem;
    border-radius: var(--border-cards);
    color: white;
    background-color: var(--color-secundario);
    transition: .5s;
    border: none;
    cursor: pointer;
}

.main__button:hover {
    border-radius: 40px 30px;
    background-color: var(--color-principal);
}

.main__button--outlined {
    background-color: transparent;
    color: var(--color-principal);
    text-shadow: 1px 1px 1px #eb86dd;
    font-weight: 900;
    border: 2px solid;
    border-color: var(--color-principal);
}

.main__button--outlined:hover {
    border: none;
    color: white;
}

.main__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 3.5rem 0rem 3.5rem;
    align-items: center;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(75, 1, 62, 0.5)),url(../imgs/backgrounds/prueba.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 95%, 70% 100%, 30% 100%, 0 95%, 0% 30%);
    box-shadow: 2px, 2px, 2px rgba(0, 0, 0, 0.8);

}

.main__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 300px;
    gap: 10px;
    padding: 1.5rem;
    border-radius: var(--border-cards);
    background-color: rgba(255, 255, 255, 0.884);
}

.card__title {
    font-family: var(--fuente-titulos);
    color: var(--color-principal);
}

.card__division {
    width: 90%;
}

.card__description {
    font-family: var(--fuente-secundario);
    font-weight: bold;
}

.main__contact {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__form--element {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    background-color: #280046;
    border-radius: var(--border-cards);
}

.form {
    display: flex;
    padding: 1rem;
    width: 90%;
    flex-direction: column;
    gap: 2rem;
}

.form__title {
    font-size: 2rem;
    font-family: var(--fuente-titulos);
    color: var(--color-terciario);
}

.form__item {
    width: 100%;
    border: none;
    padding: .5rem;
    font-size: 1rem;
    transition: .3s ease;
    background-color: transparent;
}

.form__item--textarea {
    height: 20vh;
    resize: none;
}

.form__item::placeholder {
    color: rgba(255, 255, 255, 0.911);
} 

.form__item:focus {
    outline: none;
    border: none;
    color: white;
    font-size: 1.1rem;

}

.form__button {
    width: 30%;
    height: 3.2rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: black;

    font-size: 1.2rem;
    font-family: var(--fuente-titulos);
    background-color: var(--color-terciario);
    transition: .5s ease;
}

.form__button:hover {
    transform: scale(1.1);
    background-color: var(--color-terciario);
    border-radius: 40px 30px;
}

.main__contact img {
    width: 90%;
}





hr {
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.76);
}

.footer {
    display: flex;
    z-index: 9999;
    padding-top: 4rem;

}

.hola {
    width: 100%;
    background-color: purple;
    height: 15vh;
    z-index: 9999;

    
}

@media (min-width: 1200px) {

    .main {
        padding-top: 0rem;
    }

    .main__section {
        width: 80%;
        margin: auto;
        text-align: start;
    }

    .main__info {
        width: 60%;
        height: 80%;
        padding-left: 2.8rem;
        align-items: start;
    }

    .main__info--contact {
        display: block;
        padding-right: 2.8rem;
        width: 80%;
    }

    .main__title {
        font-size: 3.5rem;
    }

    .main__img {
        display: block;
        width: 430px;
        height: 430px;
    }

    .main__buttons {
        justify-content: start;
    }

    .main__button {
        padding: .8rem 3rem .8rem;
        font-size: 1.1rem;
    }

    .main__middle {
        flex-direction: row;
    }

    .main__contact {
        padding: 4rem 1rem 4rem;
    }
}